@font-face {
    font-family: PlayfairBoldItalic;
    src: url("../font/Playfair/PlayfairDisplay-BoldItalic.ttf");
}
@font-face {
    font-family: PlayfairReg;
    src: url("../font/Playfair/PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: Raleway;
    src: url("../font/Raleway/Raleway-Regular.ttf");
}
@font-face {
    font-family: Raleway-Bold;
    src: url("../font/Raleway/Raleway-Bold.ttf");
}
@font-face {
    font-family: Raleway-Italic;
    src: url("../font/Raleway/Raleway-Italic.ttf");
}