body {
    margin: auto 0;
}
footer a {
    color: #FFD3FC;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
h1 {
    font-family: PlayfairBoldItalic;
    padding: 10px;
}
h2 {
    font-family: PlayfairBoldItalic;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px #8e8e8e;
}
h3 {
    font-family: PlayfairReg;
    padding: 20px;
}
h4 {
    font-family: Raleway-Italic;
}
img {
    max-width:100%;
    max-height:100%;
    image-orientation: from-image;
}
input {
    margin: 10px;
}
p {
    font-family: Raleway;
    font-size: 1.1em;
    line-height: 30px;
    text-align: justify;
}
textarea {
    margin: 10px;
}
ul {
    font-family: Raleway;
    
}
.aboutHeader {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(251, 182, 209, 0.65),
        rgba(251, 182, 209, 0.25)),
        url("../img/flowerBack.jpg");
}
.aboutImg {
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    object-fit: cover;
}
.aboutRow {
    min-height: 50vh;
}
.bespoke {
    min-height: 450px;
}
.bespoke img{
    height: 500px;
    display: block;
    margin: 30px auto;
}
.bespokeText {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}
.btn-services {
    background-color: #eafcff;
}
.centered-and-cropped {
    object-fit: cover;
}
.contactForm {
    margin-top: 30px;
    margin-bottom: 30px;
}
.contactHeader {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(251, 182, 209, 0.65),
    rgba(251, 182, 209, 0.25)),
    url("../img/flowerBack.jpg");
}
.displayImg {
    background-size: contain;
    background-position: center;
    z-index: -10;
}
.displayRow {
    max-height: 100vh;
}
.dressHeader {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(251, 182, 209, 0.65),
    rgba(251, 182, 209, 0.25)),
    url("../img/flowerBack.jpg");
}
.dressImg {
    max-height: 300px;
    margin: 20px auto;
    display: block;
}
.dressText {
    margin: 20px;
}
.dropdown-item:hover {
    background-color: rgb(255, 211, 252);
}
.emailError {
    display: none;
}
.footer {
    line-height: 80px;
    background-color: #8e8e8e;
    color: white;
}
.squareForm {
    border-radius: 0px;
    -webkit-appearance: none;
}
.frontPageImgRow {
    background-color: #ffedfc;
}
.frontPageImgRow img {
    height: 500px;
    display: block;
    margin: 30px auto;
    border: solid 10px white;
}
.galleryCol {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.galleryCol img {
    margin-top: 8px;
    vertical-align: middle;
}
.gif {
    margin: 0 auto;
}
.greybtn {
    background-color: #8e8e8e;
    color: white;
}
.greybtn:hover {
    color: black;
}
.indexBackground {
    background-image: url("../img/frontpage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.logo {
    max-height: 60px;
    overflow: visible;
    z-index: 100;
}
.logo:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(221, 251, 255, 0.67);
    -moz-box-shadow: 0px 0px 15px 0px rgba(221, 251, 255, 0.67);
    box-shadow: 0px 0px 15px 0px rgba(221, 251, 255, 0.67);
}
.middle-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mx-auto {
    width: 600px;
}
.navbar {
    min-height: 8vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,0.4);
}
.navbar li {
    font-family: Raleway-Bold;
    letter-spacing: 1px;
}
.navbtn {
    border-radius: 0;
}
.nav-item {
    padding: 10px;
    font-family: Raleway;
    letter-spacing: 0.5px;
}
.object-fit {
    object-fit: cover;
}
.opacLayer {
    background-color: rgba(248, 247, 216, 0.7);
    width: 100%;
    height: 100%;
}
.pinkbtn {
    background-color: #ffd3fc;
    color: black;
}
.pinkbtn:hover {
    color: white
}
.services {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
      background: linear-gradient(rgba(251, 182, 209, 0.65),
      rgba(251, 182, 209, 0.65)),
      url("../img/flowerBack.jpg");
}
.serivceCol {
    color: white;
}
.shortDesc {
    padding-top: 150px;
    padding-bottom: 150px;
}
.spamStop {
    display: none;
}
.squarebtn {
    border-radius: 0px;
    font-family: Raleway;
}
.textContainer {
    width: 100%;
    background-color: rgb(0,0,0,0.7);
}
.titleText{
    font-size: 60pt;
    color: #fff9f9;
    text-shadow: grey 1px 1px;
}
.titleText h2 {
    font-size: 40pt;
    color: #fff9f9;
    text-shadow: grey 1px 1px;
}
.wrap {
    max-width: 1920px;
    margin: 0 auto;
}
#gif {
    display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 19pt;
    }
    h4 {
        font-size: 16pt;
    }
    p {
        font-size: 12pt;
    }
    .aboutHeader {
        max-height: 20vh;
    }
    .bespokeImg img {
        height: auto;
    }
    .bespokeText {
        padding: 10px;
    }
    .frontPageImgRow img{
        height: auto;
    }
    .middleText {
        top: 0;
        left: 0;
    }
    .mx-auto {
        width: 300px;
    }
    .navbar {
        background-color: rgb(100, 61, 96);
        position: relative;
    }
    .services {
        padding: 10px;
    }
    .shortDesc {
        padding: 10px;
    }
    .titleText {
        font-size: 30pt;
    }
}